@import "variable.scss";

.bgcolor-5 {
  background-color: #1e292f;
}

.carousel {
  width: 500px;
  height: 700px;
  position: relative;
  perspective: 500px;
  &__slice {
    width: 50px;
    height: 500px;

    position: absolute;
    left: calc(50% - 26px);
    top: 100px;

    transform-origin: center center -260px;
    transform: rotateY(90deg);

    background-size: auto 400px, 50px 50px, 50px 50px, auto 400px;
    background-repeat: repeat-x, repeat-x, no-repeat;

    $lastGColor: #000;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transform: rotateY($i * 10deg - 50deg);
        @include b-position($i * 50px);

        @keyframes slide-#{$i} {
          from {
            @include b-position(-50px * $i);
          }
          to {
            @include b-position(-50px * $i - 550px);
          }
        }

        animation: slide-#{$i} 5s infinite;
        @if $i <= 5 {
          @include b-image(
            lighten($lastGColor, $i * 3%),
            $lastGColor,
            lighten($lastGColor, $i * 3%)
          );

          $lastGColor: lighten($lastGColor, $i * 3%);
        } @else if $i > 5 {
          @include b-image(
            darken($lastGColor, $i * 2%),
            $lastGColor,
            darken($lastGColor, $i * 2%)
          );

          $lastGColor: darken($lastGColor, ($i - 5) * 3%);
        }

        background-blend-mode: overlay;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .carousel {
    /* border: 1px dotted green; */
    width: 700px;
    height: 700px;
    position: relative;
    perspective: 500px;
    &__slice {
      width: 500px;
      height: 50px;
      /* background-color: rgba(0, 128, 0, 0.616); */
      /* border: 1px solid #0008; */
      position: absolute;
      top: calc(50% - 26px);
      left: 100px;

      transform-origin: center center -280px;

      background-size: 400px, 50px 50px, 50px 50px, auto 268px;
      background-repeat: repeat-y, repeat-y, no-repeat;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transform: rotateX($i * 10deg - 50deg);
          @include position(top $i * 50px center);

          @keyframes slide-#{$i} {
            from {
              @include position(50px * $i);
            }
            to {
              @include position(-50px * $i -50px center);
            }
          }
        }
      }
    }
  }
}
