body {
  background-color: #1e292f;
}

.test {
  position: relative;
  top: 50px;
  left: 100px;

  &_slice {
    width: 50px;
    height: 500px;
    border: 1px solid yellowgreen;

    background-image: url("../images/pixel.jpg");
    background-size: cover;
  }
}
