$bg-color5: #1e292f;

@mixin b-position($position) {
  background-position: -50px center, top, bottom, $position, center;
}

@mixin b-image($glcolor, $gdcolor, $fcolor) {
  background-image: linear-gradient(90deg, $glcolor 50%, $gdcolor 100%),
    radial-gradient(transparent 40%, $fcolor 42%),
    radial-gradient(transparent 40%, $fcolor 42%), url("../images/pixel.jpg");
}

@mixin image($glcolor, $gdcolor, $fcolor) {
  background-image: linear-gradient(90deg, $glcolor 50%, $gdcolor 100%),
    radial-gradient(transparent 40%, $fcolor 42%),
    radial-gradient(transparent 40%, $fcolor 42%), url("../images/pixel.jpg");
}

@mixin position($position) {
  background-position: center, left, right, $position;
}
