body{
    background-color: cadetblue;
    margin: 0 auto;
}


.component {
    width: 64px;
    height: 64px;

    background-image: url(images/snake-graphics.png);

    position: absolute;
    
    

}